# Directories
.cloud
.google.token
.storage/
.Trash*/
.vscode/
deps/
image/
lost+found/
tts/

# Files
__pycache__
.DS_Store
*.conf
*.db
*.db-shm
*.db-wal
*.log
*.pyc
._*
ip_bans.yaml
known_devices.yaml
secrets.yaml
